html, body {
  cursor: url("C:\\Users\\andyp\\Documents\\4.053\\final project\\4053-website\\src\\pics\\cursor1.svg"), auto;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.body {
  width: 90.5%;
}

.bg-color {
  background-color: #F6F2F0;
}

.bg-color-text {
  color: #F6F2F0;
}

.text-color {
  color: #343434;
}

@font-face {
  font-family: 'noto-sans';
  src: url('../public/fonts/NotoSans-VariableFont_wdth\,wght.ttf');
}

@font-face {
  font-family: 'aktiv-grotesk-xbold';
  src: url('../public/fonts/AktivGroteskExXBold.ttf');
}

@font-face {
  font-family: 'moonwrap';
  src: url('../public/fonts/Moonwrap.otf');
}

.main-font {
  font-family: 'noto-sans';
  font-weight: normal;
  font-style: normal;
}

.main-font-italic {
  font-family: 'noto-sans';
  font-weight: normal;
  font-style: italic;
}

.section-header-font {
  font-family: 'aktiv-grotesk-xbold';
}

.moonwrap {
  font-family: 'moonwrap';
}

.section-header-misc {
  container-name: hi;
  container-type: normal;
}

.container-def {
  container-type: size;
}

a:hover {
  opacity: 0.85;
}

.text-nohover {

}

.text-nohover:hover {
  cursor: url("C:\\Users\\andyp\\Documents\\4.053\\final project\\4053-website\\src\\pics\\cursor1.svg"), auto;
}

.second-width {
  width: 73.7vw;
}

.third-width {
  width: 82.8vw;
}

input:focus::placeholder {
  color: transparent;
}

input[type=text]:focus {
  outline: none;
}

.hover-class {

}

.hover-class:hover {
  background-color: #FFFCFB;
  cursor: url("C:\\Users\\andyp\\Documents\\4.053\\final project\\4053-website\\src\\pics\\cursor2.svg"), auto;
}

.hover-class-input {

}

.hover-class-input:hover{
  cursor: url("C:\\Users\\andyp\\Documents\\4.053\\final project\\4053-website\\src\\pics\\cursor2.svg"), auto;
}

.letterbox-selected {
  background-color: #FFFFFF;
}